.portfolio {
  margin-bottom : 80px;
  opacity : 0;
  transform : translateY(40px);
  /* transition : .5s;
  transition-timing-function : ease-in-out; */
}
.portfolio .contBox {
  display : flex;
  height : 400px;
}
.portfolio .portImg {
  position : relative;
  width : 60%;
}
.portImg .img {
  display : block;
  position : absolute;
  width : 100%;
  height : 100%;
}
.portfolio .portImg .pc {
  width : 100%;
  height : 100%;
  padding : 20px 82px 106px 84px;
  background : url('/portfolio/img/desktop.png') no-repeat;
  background-size : contain;
  background-position : center center;
}
.portfolio .portImg .imgWrap {
  width : 100%;
  height : 100%;
  position : relative;
  overflow : hidden;
  cursor : pointer;
}
.portfolio .portImg .mobile {
  width : 30%;
  height : 80%;
  position : absolute;
  z-index : 1;
  bottom : 0;
  right : 0;
  padding : 44px 28px 46px 36px;
  background : url('/portfolio/img/phone.png') no-repeat;
  background-size : cover;
  background-position : center center;
}
.portfolio .desc {
  position : relative;
  display : flex;
  flex-direction : column;
  justify-content: center;
  width : 30%;
  margin : 0 5%;
}
.portfolio .desc .title {
  font-size : 36px;
  font-weight : bold;
}
.portfolio .desc .created {
  font-size : 20px;
  margin : 10px 0;
}
.portfolio .desc .descArray {
  width : 100%;
  display : flex;
  flex-wrap : wrap;
}
.portfolio .desc .descArray span {
  font-size : 16px;
  font-weight : bold;
  margin-right : 15px;
  padding : 3px;

}
.portfolio .desc .link {
  font-size : 16px;
  margin-top : 20px;
}
.portfolio .desc .link span {
  border : 1px solid #666666;
  border-radius : 5px;
  padding : 10px;
  cursor : pointer;
}
.portfolio .desc .link span:hover {
  transition : .3s;
  background : #666666;
  color : white;
}
.portfolio .desc .link span:nth-child(1) {
  margin-right : 15px;
}
.portfolio .portImg .onlyMobile {
  width : 100%;
  height : 100%;
  padding : 54px 236px 58px 248px;
  background : url('/portfolio/img/phone.png') no-repeat;
  background-size : contain;
  background-position : center center;
}

.rightPortfolio .contBox {
  flex-direction : row-reverse;
}
.transition {
  transition : .3s;
}

.portContAni1 {
  animation : portAni1;
  animation-duration : .5s;
  animation-timing-function : ease-in-out;
  animation-fill-mode : forwards;
}

@keyframes portAni1 {
  0% { opacity : 0; transform : translateY(40px); }
  70% { opacity : 1; transform : translateY(0); }
  100% { opacity : 1; transform : translateY(0); }
}
.portContAni2 {
  animation : portAni2;
  animation-duration : .5s;
  animation-timing-function : ease-in-out;
  animation-fill-mode : forwards;
}

@keyframes portAni2 {
  0% { opacity : 1; transform : translateY(0); }
  30% { opacity : 0; transform : translateY(15px); }
  100% { opacity : 0; transform : translateY(40px); }
}