.section:nth-of-type(2) .sectionCont {
  justify-content: space-between;
  flex-wrap: wrap;
}
.stackDivideWrap {
  width: 49%;
  border-radius: 3px;
  margin-bottom: 2%;
  border: 1px solid;
  border-color: var(--color4);
  overflow: hidden;
}
.stackDivide {
  background: var(--color4);
  text-align: center;
}
.stackWrap {
  padding: 0.2rem;
}
.stack {
  width: fit-content;
  display: flex;
  align-items: center;
}
.stackImg {
  width: 20px;
  height: 20px;
  background-size: 100% !important;
  margin-right: 0.5rem;
}
