.App {
  position: relative;
  min-width: 310px;
}
.backgroundMyCoding {
  width: 3000px;
  height: 100vh;
  position: fixed;
  z-index: -1;
}
.backgroundMyCoding img {
  width: 100%;
  position: absolute;
  transition: 4s;
}
.innerApp {
  position: relative;
  max-width: 900px;
  min-width: 310px;
  margin: 0 auto;
  padding: 5.5rem 0.5rem 3rem 0.5rem;
}
/* layout */
/* section */
.section {
  margin-top: 25px;
}
.sectionWrap {
  width: 100%;
  border-radius: 3px;
  padding: 0.7rem;
  background: var(--color2);
}
.sectionTitle {
  text-align: center;
  margin-bottom: 10px;
  background: var(--color3);
  border-radius: 3px 3px 0 0;
}
.sectionCont {
  display: flex;
}
/* sectionMoveTabWrap */
.sectionMoveTabWrap {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
}
.sectionMoveTabInnerWrap {
  max-width: 900px;
  min-width: 310px;
  margin: 0 auto;
  padding: 0.5rem;
  display: flex;
}
.sectionMoveTab {
  flex-grow: 1;
  cursor: pointer;
}
