* { box-sizing : border-box; margin : 0; padding : 0; -webkit-user-drag : none; list-style : none; text-decoration : none; color : black; }
body {
  background : black;
}
#root {
  width : 1080px;
  margin : 0 auto;
}
.loading {
  background : black;
  height : 100vh;
  padding-top : 60%;
}
.loading * {
  color : white;
}
.loadingDone {
  color : yellowgreen;
}
.appWrap {
  background : white;
  padding : 40px 0;
  margin-top : 20px;
  border-radius: 10px;
}
.appWrap .sectionTitle {
  font-size : 36px;
  font-weight : bold;
  border-radius : 5px;
}
.appWrap .padding { 
  padding : 10% 5% 0;
}
.appWrap .myStack {
  padding : 5% 5% 0;
}
.appWrap .myStack .stackTitle {
  font-size : 30px;
  font-weight : bold;
  margin-bottom : 20px;
}
.appWrap .myStack .mainStack {
  margin-bottom : 40px;
}
.appWrap .myStack .stack {
  margin-right : 10px;
  padding : 5px;
  font-weight : 500;
  border : 1px solid #ccc;
  border-radius : 5px;
}
.appWrap .myStack .studyingRecord {
  font-weight : 500;
  margin-top : 40px;
  cursor : pointer;
}

.appWrap .slideExp {
  height : 100px;
  position : relative;
}
.appWrap .slideExp .dragImg {
  position : absolute;
  width : 40px;
  height : 60px;
  background : url('/portfolio/img/dragimg.png') no-repeat;
  background-size : cover;
  background-position : right;
  left : 45%;
  top : 30px;

  animation : drag;
  animation-duration : 3s;
  animation-timing-function : ease-in-out;
  animation-iteration-count : infinite;
}
.appWrap .slideExp .dragImg:after {
  content : 'Drag the screen!';
  position : absolute;
  width : max-content;
  left : 50px;
  transform : rotate(-5deg);
}
@keyframes drag {
  0% {
    left : 45%;
  }
  50% {
    left : 15%;
  }
  100% {
    left : 15%;
  }
}

.appWrap .contact .contactCont {
  margin-top : 15px;
  font-size : 20px;
}